/* .main{
    width:100vw;
    height:100vh;
}
.center{
    width: 60vw;
    margin: auto;
}
input{
    width: 96.5%;
    padding: 10px;
    margin-bottom: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    font-size: larger;
    border: none;
} */